<h1><%=@manufacturer.name%></h1>
<h3> <%= button_to "Create Bike", "/manufacturers/#{@manufacturer.id}/bikes/new", method: :get %>
<h3><%= link_to "Sort Bikes Alphabetically", sort: :alphabetically %></h4>
<% @bikes.each do |bike| %>
  <%= link_to bike.name, "/bikes/#{bike.id}" %> <%= link_to "Update #{bike.name}", "/bikes/#{bike.id}/edit" %>
  <p>Wheel Size: <%= bike.wheelsize %></p>
  <p>Carbon: <%= bike.carbon %></p>
<% end %>