<!DOCTYPE html>
<html>
  <head>
    <title>BikesAndManufacturers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h3><%= link_to "Bikes", "/bikes/" %> | <%= link_to "Manufacturers", "/manufacturers/" %> </h3>
    <%= yield %>
  </body>
</html>
